<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>HelloWorld Login page</title>
	<link th:href="@{/css/bootstrap.css}" href="../static/css/bootstrap.css" rel="stylesheet"></link>
	<link th:href="@{/css/app.css}" href="../static/css/app.css'" rel="stylesheet"></link>
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
</head>

<body>
	<div id="mainWrapper">
		<div class="login-container">
			<div class="login-card">
				<div class="login-form">
					<form th:action="@{/login}" action="/login" method="post" class="form-horizontal">
						<div th:if="${param.error != null}" class="alert alert-danger">
							<p>Invalid username and password.</p>
						</div>
						<div th:if="${param.logout != null}" class="alert alert-success">
							<p>You have been logged out successfully.</p>
						</div>
						<div class="input-group input-sm">
							<label class="input-group-addon" for="username"><i class="fa fa-user"></i></label>
							<input type="text" class="form-control" id="username" name="ssoId" placeholder="Enter Username" required="required" />
						</div>
						<div class="input-group input-sm">
							<label class="input-group-addon" for="password"><i class="fa fa-lock"></i></label> 
							<input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required="required" />
						</div>
                        <div class="input-group input-sm">
                            <div class="checkbox">
                              <label><input type="checkbox" id="rememberme" name="remember-me" /> Remember Me</label>  
                            </div>
						</div>
<!-- 						<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" /> -->
						<input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}" />
<!-- 						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" th:required="required"> -->
						<div class="form-actions">
							<input type="submit" class="btn btn-block btn-primary btn-default" value="Log in" />
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>